In [82]:
import pandas as pd
import numpy as np

In [83]:
train=pd.read_csv('C:\\Users\HP\Downloads\database.csv')

In [84]:
train.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01-02-1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01-04-1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01-05-1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01-08-1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01-09-1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [85]:
train.isna().sum()

Date                              0
Time                              0
Latitude                          0
Longitude                         0
Type                              0
Depth                             0
Depth Error                   18951
Depth Seismic Stations        16315
Magnitude                         0
Magnitude Type                    3
Magnitude Error               23085
Magnitude Seismic Stations    20848
Azimuthal Gap                 16113
Horizontal Distance           21808
Horizontal Error              22256
Root Mean Square               6060
ID                                0
Source                            0
Location Source                   0
Magnitude Source                  0
Status                            0
dtype: int64

In [86]:
train.drop(['ID','Magnitude Error','Horizontal Error','Horizontal Distance','Depth Error','Depth Seismic Stations','Magnitude Seismic Stations','Azimuthal Gap'],axis=1,inplace=True)

In [87]:
train.drop(['Source','Location Source','Magnitude Source'],axis=1,inplace=True)

In [88]:
pd.get_dummies(train[['Magnitude Type','Status']])

,Magnitude Type_MB,Magnitude Type_MD,Magnitude Type_MH,Magnitude Type_ML,Magnitude Type_MS,Magnitude Type_MW,Magnitude Type_MWB,Magnitude Type_MWC,Magnitude Type_MWR,Magnitude Type_MWW,Status_Automatic,Status_Reviewed
0,0,0,0,0,0,1,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,0,1,0
3,0,0,0,0,0,1,0,0,0,0,1,0
4,0,0,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
23407,0,0,0,1,0,0,0,0,0,0,0,1
23408,0,0,0,1,0,0,0,0,0,0,0,1
23409,0,0,0,0,0,0,0,0,0,1,0,1
23410,0,0,0,0,0,0,0,0,0,1,0,1
23411,1,0,0,0,0,0,0,0,0,0,0,1

In [89]:
train = pd.get_dummies(train, columns = ['Type','Status','Magnitude Type'])

In [90]:
train['Root Mean Square'].fillna(train['Root Mean Square'].mean(), inplace=True)

In [91]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="http")
location = geolocator.reverse("51.5074, 0.1278")

print(location.address)

Fleming Way, London Borough of Bexley, London, Greater London, England, SE28 8NS, United Kingdom

In [92]:
train['Date'] = pd.to_datetime(train['Date'], errors='coerce',utc=True)

In [93]:
train['year'] = pd.DatetimeIndex(train['Date']).year

In [94]:
train['month']=pd.DatetimeIndex(train['Date']).month

In [95]:
train['month']

0         1
1         1
2         1
3         1
4         1
         ..
23407    12
23408    12
23409    12
23410    12
23411    12
Name: month, Length: 23412, dtype: int64

In [96]:



train['Month'] = pd.to_datetime(train['month'], format='%m').dt.strftime('%b')

train['Month']

In [97]:
train['Month'].value_counts()

Mar    2114
Aug    2014
Dec    2001
Nov    1987
Sep    1985
Apr    1971
May    1964
Oct    1952
Jan    1891
Jul    1880
Feb    1829
Jun    1824
Name: Month, dtype: int64

In [98]:
locator = Nominatim(user_agent="myGeocoder")
coordinates = "53.480837, -2.244914"
location = locator.reverse(coordinates)

In [99]:
print(location.address)

68, Cross Street, Civic Quarter, City Centre, Manchester, Greater Manchester, England, M2 4JN, United Kingdom

In [100]:
train["geom"] =  train["Longitude"].map(str)  + ',' + train['Latitude'].map(str)
train.head()

,Date,Time,Latitude,Longitude,Depth,Magnitude,Root Mean Square,Type_Earthquake,Type_Explosion,Type_Nuclear Explosion,...,Magnitude Type_MS,Magnitude Type_MW,Magnitude Type_MWB,Magnitude Type_MWC,Magnitude Type_MWR,Magnitude Type_MWW,year,month,Month,geom
0,1965-01-02 00:00:00+00:00,13:44:18,19.246,145.616,131.6,6.0,1.022784,1,0,0,...,0,1,0,0,0,0,1965,1,Jan,"145.616,19.246"
1,1965-01-04 00:00:00+00:00,11:29:49,1.863,127.352,80.0,5.8,1.022784,1,0,0,...,0,1,0,0,0,0,1965,1,Jan,"127.352,1.863"
2,1965-01-05 00:00:00+00:00,18:05:58,-20.579,-173.972,20.0,6.2,1.022784,1,0,0,...,0,1,0,0,0,0,1965,1,Jan,"-173.972,-20.579"
3,1965-01-08 00:00:00+00:00,18:49:43,-59.076,-23.557,15.0,5.8,1.022784,1,0,0,...,0,1,0,0,0,0,1965,1,Jan,"-23.557,-59.076"
4,1965-01-09 00:00:00+00:00,13:32:50,11.938,126.427,15.0,5.8,1.022784,1,0,0,...,0,1,0,0,0,0,1965,1,Jan,"126.427,11.938"

In [101]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\hp\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: fiona>=1.8 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (1.8.22)
Requirement already satisfied: pandas>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (1.4.2)
Requirement already satisfied: packaging in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (21.3)
Requirement already satisfied: pyproj>=2.6.1.post1 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (3.3.1)
Requirement already satisfied: shapely>=1.7 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (1.8.2)
Requirement already satisfied: click-plugins>=1.0 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: cligj>=0.5 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: attrs>=17 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: munch in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click>=4.0 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (8.0.4)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (61.2.0)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click>=4.0->fiona>=1.8->geopandas) (0.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2021.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\hp\anaconda3\lib\site-packages (from packaging->geopandas) (3.0.4)

In [113]:
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
!pip install geopandas
import matplotlib.pyplot as plt
import tqdm
from tqdm import tqdm
from tqdm._tqdm_notebook import tqdm_notebook

Requirement already satisfied: geopandas in c:\users\hp\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: shapely>=1.7 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (1.8.2)
Requirement already satisfied: packaging in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (21.3)
Requirement already satisfied: pyproj>=2.6.1.post1 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (3.3.1)
Requirement already satisfied: pandas>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (1.4.2)
Requirement already satisfied: fiona>=1.8 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (1.8.22)
Requirement already satisfied: cligj>=0.5 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click>=4.0 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (8.0.4)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: six>=1.7 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: attrs>=17 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: munch in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (61.2.0)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click>=4.0->fiona>=1.8->geopandas) (0.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (1.21.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\hp\anaconda3\lib\site-packages (from packaging->geopandas) (3.0.4)

In [103]:
locator = Nominatim(user_agent="myGeocoder", timeout=10)
rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)
rgeocode

In [115]:

location.raw

{'place_id': 115318708,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 37139875,
 'lat': '53.4809609',
 'lon': '-2.2450805553523505',
 'display_name': '68, Cross Street, Civic Quarter, City Centre, Manchester, Greater Manchester, England, M2 4JN, United Kingdom',
 'address': {'house_number': '68',
  'road': 'Cross Street',
  'neighbourhood': 'Civic Quarter',
  'suburb': 'City Centre',
  'city': 'Manchester',
  'ISO3166-2-lvl8': 'GB-MAN',
  'state_district': 'Greater Manchester',
  'state': 'England',
  'ISO3166-2-lvl4': 'GB-ENG',
  'postcode': 'M2 4JN',
  'country': 'United Kingdom',
  'country_code': 'gb'},
 'boundingbox': ['53.4808484', '53.4810728', '-2.2451942', '-2.2449675']}

In [118]:
train["geom"] =  train["Latitude"].map(str)  + ',' + train['Longitude'].map(str)
train.head()

,Date,Time,Latitude,Longitude,Depth,Magnitude,Root Mean Square,Type_Earthquake,Type_Explosion,Type_Nuclear Explosion,...,Magnitude Type_MW,Magnitude Type_MWB,Magnitude Type_MWC,Magnitude Type_MWR,Magnitude Type_MWW,year,month,Month,geom,geometry
0,1965-01-02 00:00:00+00:00,13:44:18,19.246,145.616,131.6,6.0,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"19.246,145.616",POINT (145.61600 19.24600)
1,1965-01-04 00:00:00+00:00,11:29:49,1.863,127.352,80.0,5.8,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"1.863,127.352",POINT (127.35200 1.86300)
2,1965-01-05 00:00:00+00:00,18:05:58,-20.579,-173.972,20.0,6.2,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"-20.579,-173.972",POINT (-173.97200 -20.57900)
3,1965-01-08 00:00:00+00:00,18:49:43,-59.076,-23.557,15.0,5.8,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"-59.076,-23.557",POINT (-23.55700 -59.07600)
4,1965-01-09 00:00:00+00:00,13:32:50,11.938,126.427,15.0,5.8,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"11.938,126.427",POINT (126.42700 11.93800)

In [119]:
locator = Nominatim(user_agent="myGeocoder", timeout=10)
rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)
rgeocode

In [120]:
tqdm.pandas()
train['address'] = train['geom'].progress_apply(rgeocode)

100%|██████████████████████████████████████████████████████████████████████████| 23412/23412 [3:15:26<00:00,  2.00it/s]

In [152]:
train.head()

,Date,Time,Latitude,Longitude,Depth,Magnitude,Root Mean Square,Type_Earthquake,Type_Explosion,Type_Nuclear Explosion,...,Magnitude Type_MWC,Magnitude Type_MWR,Magnitude Type_MWW,year,month,Month,geom,geometry,address,country
0,1965-01-02 00:00:00+00:00,13:44:18,19.246,145.616,131.6,6.0,1.022784,1,0,0,...,0,0,0,1965,1,Jan,"19.246,145.616",POINT (145.61600 19.24600),None,NaN
1,1965-01-04 00:00:00+00:00,11:29:49,1.863,127.352,80.0,5.8,1.022784,1,0,0,...,0,0,0,1965,1,Jan,"1.863,127.352",POINT (127.35200 1.86300),"(Maluku Utara, Indonesia, (0.6301215, 127.9720...",NaN
2,1965-01-05 00:00:00+00:00,18:05:58,-20.579,-173.972,20.0,6.2,1.022784,1,0,0,...,0,0,0,1965,1,Jan,"-20.579,-173.972",POINT (-173.97200 -20.57900),None,NaN
3,1965-01-08 00:00:00+00:00,18:49:43,-59.076,-23.557,15.0,5.8,1.022784,1,0,0,...,0,0,0,1965,1,Jan,"-59.076,-23.557",POINT (-23.55700 -59.07600),None,NaN
4,1965-01-09 00:00:00+00:00,13:32:50,11.938,126.427,15.0,5.8,1.022784,1,0,0,...,0,0,0,1965,1,Jan,"11.938,126.427",POINT (126.42700 11.93800),None,NaN

In [129]:
train.head(16)

,Date,Time,Latitude,Longitude,Depth,Magnitude,Root Mean Square,Type_Earthquake,Type_Explosion,Type_Nuclear Explosion,...,Magnitude Type_MWB,Magnitude Type_MWC,Magnitude Type_MWR,Magnitude Type_MWW,year,month,Month,geom,geometry,address
0,1965-01-02 00:00:00+00:00,13:44:18,19.246,145.616,131.6,6.0,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"19.246,145.616",POINT (145.61600 19.24600),None
1,1965-01-04 00:00:00+00:00,11:29:49,1.863,127.352,80.0,5.8,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"1.863,127.352",POINT (127.35200 1.86300),"(Maluku Utara, Indonesia, (0.6301215, 127.9720..."
2,1965-01-05 00:00:00+00:00,18:05:58,-20.579,-173.972,20.0,6.2,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"-20.579,-173.972",POINT (-173.97200 -20.57900),None
3,1965-01-08 00:00:00+00:00,18:49:43,-59.076,-23.557,15.0,5.8,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"-59.076,-23.557",POINT (-23.55700 -59.07600),None
4,1965-01-09 00:00:00+00:00,13:32:50,11.938,126.427,15.0,5.8,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"11.938,126.427",POINT (126.42700 11.93800),None
5,1965-01-10 00:00:00+00:00,13:36:32,-13.405,166.629,35.0,6.7,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"-13.405,166.629",POINT (166.62900 -13.40500),"(Torba, Vanuatu, (-13.664413549999999, 167.174..."
6,1965-01-12 00:00:00+00:00,13:32:25,27.357,87.867,20.0,5.9,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"27.357,87.867",POINT (87.86700 27.35700),"(Mehele, Sidingba, ताप्लेजुङ, Province #1, नेप..."
7,1965-01-15 00:00:00+00:00,23:17:42,-13.309,166.212,35.0,6.0,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"-13.309,166.212",POINT (166.21200 -13.30900),None
8,1965-01-16 00:00:00+00:00,11:32:37,-56.452,-27.043,95.0,6.0,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"-56.452,-27.043",POINT (-27.04300 -56.45200),None
9,1965-01-17 00:00:00+00:00,10:43:17,-24.563,178.487,565.0,5.8,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"-24.563,178.487",POINT (178.48700 -24.56300),None
10,1965-01-17 00:00:00+00:00,20:57:41,-6.807,108.988,227.9,5.9,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"-6.807,108.988",POINT (108.98800 -6.80700),"(Sawojajar, Brebes, Jawa Tengah, Indonesia, (-..."
11,1965-01-24 00:00:00+00:00,00:11:17,-2.608,125.952,20.0,8.2,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"-2.608,125.952",POINT (125.95200 -2.60800),"(Maluku Utara, Indonesia, (0.6301215, 127.9720..."
12,1965-01-29 00:00:00+00:00,09:35:30,54.636,161.703,55.0,5.5,1.022784,1,0,0,...,0,0,0,0,1965,1,Jan,"54.636,161.703",POINT (161.70300 54.63600),"(Елизовский район, Дальневосточный федеральный..."
13,1965-02-01 00:00:00+00:00,05:27:06,-18.697,-177.864,482.9,5.6,1.022784,1,0,0,...,0,0,0,0,1965,2,Feb,"-18.697,-177.864",POINT (-177.86400 -18.69700),None
14,1965-02-02 00:00:00+00:00,15:56:51,37.523,73.251,15.0,6.0,1.022784,1,0,0,...,0,0,0,0,1965,2,Feb,"37.523,73.251",POINT (73.25100 37.52300),"(Ноҳияи Мурғоб, Вилояти Мухтори Кӯҳистони Бада..."
15,1965-02-04 00:00:00+00:00,03:25:00,-51.840,139.741,10.0,6.1,1.022784,1,0,0,...,0,0,0,0,1965,2,Feb,"-51.84,139.741",POINT (139.74100 -51.84000),None

In [126]:
train.address.isnull().sum()

12261

In [154]:
print(train['address'].value_counts())

(Maluku, Indonesia, (-3.118837, 129.4207759))                                                                   437
(Maluku Utara, Indonesia, (0.6301215, 127.9720219))                                                             409
(Lau, Eastern, Viti, (-18.970617, -179.05844147787496))                                                         268
(Sulawesi Utara, Indonesia, (0.6555692, 124.090151))                                                            238
(Alaska, United States, (64.4459613, -149.680909))                                                              174
                                                                                                               ...
(Lajawardshoy, ولسوالی کران و منجان, ولایت بدخشان, افغانستان, (36.17284762158625, 70.78015486390387))             1
(South Butte Avenue, Fresno County, California, United States, (36.14299876249859, -120.15645671990845))          1
(South Goldenrod Avenue, Fresno County, California, United States, (36.15099664828937, -120.04861413188745))      1
(محمله, بخش محمله, شهرستان خنج, استان فارس, ایران, (27.7804192, 53.0581807))                                      1
(Parado, Nusa Tenggara Barat, Indonesia, (-8.7434712, 118.5815597))                                               1
Name: address, Length: 4034, dtype: int64

In [143]:
print(address[141])

El Valle, Dolores Apulo, Municipio de Ilopango, Departamento de San Salvador, 1106, El Salvador

In [ ]:
train[['Place','Country','']] = df.Name.str.split(expand=True)

In [ ]:
train.add

In [123]:
train['address']

dtype('O')

In [124]:
train.to_csv('IIserIntern.csv', index=False)

In [116]:
print(location.address)

68, Cross Street, Civic Quarter, City Centre, Manchester, Greater Manchester, England, M2 4JN, United Kingdom

In [81]:
train['geom'].dtypes

dtype('O')

In [25]:
from geopy.geocoders import Nominatim
locator = Nominatim(user_agent="myGeocoder")

In [26]:
!pip install reverse_geocoder

Requirement already satisfied: reverse_geocoder in c:\users\hp\anaconda3\lib\site-packages (1.5.1)
Requirement already satisfied: scipy>=0.17.1 in c:\users\hp\anaconda3\lib\site-packages (from reverse_geocoder) (1.7.3)
Requirement already satisfied: numpy>=1.11.0 in c:\users\hp\anaconda3\lib\site-packages (from reverse_geocoder) (1.21.5)

In [27]:
import reverse_geocoder as rg
coordinates = (33.84663415,-84.36281345415213)
location = rg.search(coordinates)

Loading formatted geocoded file...

In [28]:
location

[{'lat': '33.8651',
  'lon': '-84.33659',
  'name': 'North Atlanta',
  'admin1': 'Georgia',
  'admin2': 'DeKalb County',
  'cc': 'US'}]

In [29]:
latitude=train['Latitude']

In [30]:
longitude=train['Longitude']

In [31]:
geom=train['geom']

In [32]:
geom.dtypes

dtype('O')

In [33]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\hp\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: packaging in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (21.3)
Requirement already satisfied: pandas>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (1.4.2)
Requirement already satisfied: pyproj>=2.6.1.post1 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (3.3.1)
Requirement already satisfied: fiona>=1.8 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (1.8.22)
Requirement already satisfied: shapely>=1.7 in c:\users\hp\anaconda3\lib\site-packages (from geopandas) (1.8.2)
Requirement already satisfied: click>=4.0 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (8.0.4)
Requirement already satisfied: cligj>=0.5 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: attrs>=17 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: munch in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (61.2.0)
Requirement already satisfied: six>=1.7 in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click>=4.0->fiona>=1.8->geopandas) (0.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (1.21.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\hp\anaconda3\lib\site-packages (from packaging->geopandas) (3.0.4)

In [106]:
train['geometry'] = gpd.points_from_xy(train.Longitude, train.Latitude, crs="EPSG:4326")

In [41]:
train.head()

,Date,Time,Latitude,Longitude,Depth,Magnitude,Root Mean Square,Type_Earthquake,Type_Explosion,Type_Nuclear Explosion,...,Magnitude Type_MW,Magnitude Type_MWB,Magnitude Type_MWC,Magnitude Type_MWR,Magnitude Type_MWW,year,month,Month,geom,geometry
0,1965-01-02 00:00:00+00:00,13:44:18,19.246,145.616,131.6,6.0,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"19.246,145.616",POINT (145.61600 19.24600)
1,1965-01-04 00:00:00+00:00,11:29:49,1.863,127.352,80.0,5.8,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"1.863,127.352",POINT (127.35200 1.86300)
2,1965-01-05 00:00:00+00:00,18:05:58,-20.579,-173.972,20.0,6.2,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"-20.579,-173.972",POINT (-173.97200 -20.57900)
3,1965-01-08 00:00:00+00:00,18:49:43,-59.076,-23.557,15.0,5.8,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"-59.076,-23.557",POINT (-23.55700 -59.07600)
4,1965-01-09 00:00:00+00:00,13:32:50,11.938,126.427,15.0,5.8,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"11.938,126.427",POINT (126.42700 11.93800)

In [36]:
train['geometry'].dtypes

In [60]:
import geopandas as gpd
gdf = gpd.GeoDataFrame(train, geometry="geometry")
gdf.head(12)

,Date,Time,Latitude,Longitude,Depth,Magnitude,Root Mean Square,Type_Earthquake,Type_Explosion,Type_Nuclear Explosion,...,Magnitude Type_MW,Magnitude Type_MWB,Magnitude Type_MWC,Magnitude Type_MWR,Magnitude Type_MWW,year,month,Month,geom,geometry
0,1965-01-02 00:00:00+00:00,13:44:18,19.246,145.616,131.6,6.0,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"145.616,19.246",POINT (145.61600 19.24600)
1,1965-01-04 00:00:00+00:00,11:29:49,1.863,127.352,80.0,5.8,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"127.352,1.863",POINT (127.35200 1.86300)
2,1965-01-05 00:00:00+00:00,18:05:58,-20.579,-173.972,20.0,6.2,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"-173.972,-20.579",POINT (-173.97200 -20.57900)
3,1965-01-08 00:00:00+00:00,18:49:43,-59.076,-23.557,15.0,5.8,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"-23.557,-59.076",POINT (-23.55700 -59.07600)
4,1965-01-09 00:00:00+00:00,13:32:50,11.938,126.427,15.0,5.8,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"126.427,11.938",POINT (126.42700 11.93800)
5,1965-01-10 00:00:00+00:00,13:36:32,-13.405,166.629,35.0,6.7,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"166.629,-13.405",POINT (166.62900 -13.40500)
6,1965-01-12 00:00:00+00:00,13:32:25,27.357,87.867,20.0,5.9,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"87.867,27.357",POINT (87.86700 27.35700)
7,1965-01-15 00:00:00+00:00,23:17:42,-13.309,166.212,35.0,6.0,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"166.212,-13.309",POINT (166.21200 -13.30900)
8,1965-01-16 00:00:00+00:00,11:32:37,-56.452,-27.043,95.0,6.0,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"-27.043,-56.452",POINT (-27.04300 -56.45200)
9,1965-01-17 00:00:00+00:00,10:43:17,-24.563,178.487,565.0,5.8,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"178.487,-24.563",POINT (178.48700 -24.56300)
10,1965-01-17 00:00:00+00:00,20:57:41,-6.807,108.988,227.9,5.9,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"108.988,-6.807",POINT (108.98800 -6.80700)
11,1965-01-24 00:00:00+00:00,00:11:17,-2.608,125.952,20.0,8.2,1.022784,1,0,0,...,1,0,0,0,0,1965,1,Jan,"125.952,-2.608",POINT (125.95200 -2.60800)

In [62]:
Latitude = "-6.807"
Longitude = "108.988"
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
location = geolocator.reverse(Latitude+","+Longitude)
print(location)

Sawojajar, Brebes, Jawa Tengah, Indonesia

In [64]:
!pip install geocoder

Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from geocoder) (2.27.1)
Requirement already satisfied: click in c:\users\hp\anaconda3\lib\site-packages (from geocoder) (8.0.4)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from geocoder) (1.16.0)
Requirement already satisfied: future in c:\users\hp\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click->geocoder) (0.4.4)
Requirement already satisfied: decorator in c:\users\hp\anaconda3\lib\site-packages (from ratelim->geocoder) (5.1.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests->geocoder) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->geocoder) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests->geocoder) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->geocoder) (3.3)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [78]:
import geocoder

def geo_rev(x):
    g = geocoder.osm([x.Longitude, x.Latitude], method='reverse').json
    if g:
        return g.get('country')
    
train['country']=train[['Longitude', 'Latitude']].tail().apply(geo_rev, axis=1)

ValueError: Coords are not within the world's geographical boundary

In [76]:
train['country']

0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
             ...
23407    United States
23408    United States
23409               日本
23410        Indonesia
23411             None
Name: country, Length: 23412, dtype: object

In [77]:
train['country'].value_counts()

United States    2
日本               1
Indonesia        1
Name: country, dtype: int64